.movies-saved-conteiner{
    height: 100vh;
    background-color: black;
}
.div-conteiner{
    display: grid;
    grid-template: auto 1fr 1fr 1fr/ auto 1fr 1fr 1fr ;
    background-color: black;
    height: 100%;
}
.movies-saved-body{
    height: auto;
    display: flex;
    flex-flow: wrap;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 5;
}
.header-div{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}
.side-bar-div{
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 70px;
}
.button-saved{
  position: absolute;
  bottom: 10px; 
  left: 10px; 
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
}
.img-button-saved{

}

.movies:hover > .button-saved {
    bottom: 15px; 
    left: 10px;
}