.login-conteiner{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-conteiner{
    height: 60%;
    width: 60%;
    display: flex;
    align-items: center;
}
.form{
    display: flex ;
    gap: 7;
    flex-flow: wrap;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    padding: 2rem;
}