.passoword-conteiner{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.passoword-forms{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
}
.div{
    display: flex;
    justify-content: center;
}
.cont-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont-icons p{
    width: 70%;
}
.button-cont{
    height: 10%;
    display: flex;
    align-items: end;
}
.input-cont{
    width: 70%;
    height: 34%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.all{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 30%;
    border-radius: 2px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 1rem;
}