*{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    color: white;
    box-shadow: 0 10px 20px black(0,0,0,0.2);
}
.opcoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}
.logo-header{
    font-size: 40px;
    color: yellow;
}
.logo-header:hover{
    opacity: unset;
    color: rgba(255, 255, 0, 0.808);
}
.link{
    height: 100%;
    display: flex;
    align-items: center;
}
.cont-button:hover{
    transition: all ease-in-out;
    cursor: pointer;
}

