.movies-types{
    color: white;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
}
.conteiner-movies{
    display: flex;
    gap: 4;
    overflow-x: auto;
    scrollbar-width: none;
}
.movies{
    position: relative;
    color: white;
    max-height: 430px;
    margin: 10px;
}
.movies .movies-img{
    max-width: 260px ;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 3px;
    overflow-y: none;
    background-size:cover;
}
.button{
  position: absolute;
  bottom: 10px; 
  left: 5px; 
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
}
.img-button{
    position: relative;
    font-size: 40px;
}