.cont-conteiner {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 100vh;
  justify-content: center;
  align-items: self-start;
  padding-left: 10px;
  background-color: transparent;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
  z-index: 2;
  background-color: black;
}

.cont-conteiner.ativo {
  width: 150px;
}

.filmes-options {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  cursor: pointer;
  color: white;
  transition: all 0.6s ease-in-out;
}

.icons {
  font-size: 24px;
}


