.cont-conteiner {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 100vh;
  justify-content: center;
  padding-left: 10px;
  background-color: transparent;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
  z-index: 2;
  background-color: black;
}
.cont-conteiner.ativo {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.filmes-options {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  cursor: pointer;
  color: white;
  transition: all 0.6s ease-in-out;
}
.icons {
  font-size: 24px;
}
.cont{
  margin-top: 40px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.options-conteiner{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


