.cont-conteiner{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: aqua;
    transform-origin: right;
}
.icons{
    font-size: xx-large;
}
.option-films{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cont-conteiner:hover {
    transform: scaleX(1.2);
}