.table-grid{
    display: flex;
    width: 200px;
    flex-flow: wrap;
    gap: 10px;
}
.table-button{
    width: 40px;
    height: 40px;
    background-color: black;
}
.space-button{
    width: 80px;
    height: 40px;
}
.title-movies{
    background-color: black;
    color: white;
}
.table-conteiner{
    background-color: black;
    margin-left: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.search-conteiner{
    height: 100vh;
    display: flex;
}